@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
    font-family: 'Andy';
    src: url('/fonts/AndyBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root{
    font-family: 'Andy';
}

body{
    font-family: 'Andy', sans-serif;
    color: #f5f5f4;
    text-shadow: 2px 2px 2px black;
}